<!DOCTYPE html>
<html>
<head>
  <title>Video Example</title>
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
    .plyr {
      border-radius: 4px;
      margin-bottom: 15px;
    }

  </style>

<script language="JavaScript" type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => { 
    // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
    const player = new Plyr('#player');
    
    // Expose
    window.player = player;

    // Bind event listener
    function on(selector, type, callback) {
      document.querySelector(selector).addEventListener(type, callback, false);
    }
  });
</script>
</head>
<body>
  <h2>Meeting Follow Up</h2>

  <div class="container">
    <video controls crossorigin playsinline id="player">
                    <!-- Video files -->
                    <source src={{ url_for('static', filename="files/"+video_path) }} type="video/mp4" size="576">
                    <source src={{ url_for('static', filename="files/"+video_path) }} type="video/mp4" size="720">
                    <source src={{ url_for('static', filename="files/"+video_path) }} type="video/mp4" size="1080">
                    <source src={{ url_for('static', filename="files/"+video_path) }} type="video/mp4" size="1440">
    
                    <!-- Caption files -->
                    <!-- <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                        default>
                    <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
     -->
                    <!-- Fallback for browsers that don't support the <video> element -->
                    <!-- <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a> -->
                </video>
    </div>

  <h1>Summary</h1>
  <p><span style="white-space: pre-line">{{summary}}</span></p>

  <h1>Insights</h1>
  <p><span style="white-space: pre-line">{{insights}}</span></p>

  <h1>Risks</h1>
  <p><span style="white-space: pre-line">{{risks}}</span></p>

  <h1>Arrangements</h1>
  <p><span style="white-space: pre-line">{{arrangements}}</span></p>

  <h2>Transcript</h2>
  <p><span style="white-space: pre-line">{{transcript}}</span></p>

</body>
</html>